@import '../../scss/variables';

@import "~bootstrap/scss/bootstrap";

.header {
	padding-top: 30px;
	padding-bottom: 30px;

	ul {
		font-size: 20px;
		gap: 20px;
		align-items: start;

		li.dropdown-toggle {
			padding: 0;
		}
	}

	a {
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 20px;
	}

	#navbarSupportedContent {
		justify-content: center;
	}

	.btn.dropdown-toggle {
		padding: 0;
	}

	@include media-breakpoint-up(lg) {
		ul {
			align-items: center;
			gap: 40px;
		}
	}
}