@import '../../scss/variables';

.button {
    background-color: $brandColor;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}