@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.button-large {
	padding: 20px 40px;
}

.button-medium {
	padding: 10px 40px;
}